<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="cache-control" content="no-cache">
  <title>普通的页面</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
        rel="stylesheet">
  <link href="//at.alicdn.com/t/font_663191_iwhgwe2kyaj.css" rel="stylesheet">
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>
<body class="body">
<div id="app">
  <img id="loading-gif" src="<%=htmlWebpackPlugin.options.staticPath%>static/loading.gif" alt="" style="position: fixed;top: 50%;left: 50%;width: 90px;height: 90px;margin-left: -50px;margin-top: -50px;">
</div>

<script>
  var UA = typeof window !== 'undefined' && navigator.userAgent.toLowerCase();
  var isAndroidApp = UA.indexOf('wallet_android') > -1;
  var isiOSApp = UA.indexOf('wallet_ios') > -1;
  var isApp = typeof mobile !== 'undefined' || isiOSApp || isAndroidApp;
  if(isApp){
    document.querySelector('#loading-gif').remove()
  }
</script>
<script src="<%=htmlWebpackPlugin.options.staticPath%>static/lib/swiper.min.js"></script>
<!--<script src="https://static.maimaiti.cn/sit/wallet/js/plugins/vconsole.min.js"></script>-->
<!--<script>-->
<!--var vConsole = new VConsole();-->
<!--console.log('Hello world');-->
<!--</script>-->

<!-- built files will be auto injected -->
<% if (htmlWebpackPlugin.options.devServer) { %>
<script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
<% } %>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script type="text/javascript"
        src="<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>
</html>
