span.tag.style1 {
  background: #00baff
}

span.tag.style2 {
  background: #e6070c
}

span.tag.style3 {
  background: #ffb400
}

span.tag.style4 {
  background: #8149c8
}

.tag{
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 24px;
  padding: 2px 14px;
}

.price {
  margin-top: $rowPad;
  color: $primary;
  span {
    font-size: 28px;
  }
}
.monthPay {
  color: #2389e9;
}
.item{
  font-size: 24px;
}
